## ENSO Parse
Convert ENSO data to a timeseries

In [1]:
import pandas as pd

In [3]:
#Load CSV
data = pd.read_csv('../data/enso_mei.csv',index_col='YEAR')

In [4]:
data.head()

        DJ    JF    FM    MA    AM    MJ    JJ    JA    AS    SO    ON    ND
YEAR
1979  0.47  0.26 -0.08  0.20  0.27 -0.15 -0.14  0.44  0.38  0.24  0.52  0.65
1980  0.35  0.19  0.41  0.59  0.55  0.62  0.62  0.15  0.20  0.09 -0.03 -0.06
1981 -0.33 -0.24  0.33  0.41 -0.27 -0.60 -0.51 -0.31 -0.01 -0.10 -0.22 -0.16
1982 -0.38 -0.47 -0.28 -0.34 -0.03  0.78  1.79  2.02  1.81  1.93  2.28  2.48
1983  2.57  2.74  2.68  2.79  2.89  2.02  0.75 -0.11 -0.41 -0.43 -0.43 -0.43

In [7]:
data.index

Int64Index([1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989,
            1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
            2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
            2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022],
           dtype='int64', name='YEAR')

In [14]:
test = pd.date_range(2022,2023,freq='MS',inclusive='left')
test

DatetimeIndex(['1970-01-01 00:00:00.000002022'], dtype='datetime64[ns]', freq='MS')

In [20]:
data.index

Int64Index([1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989,
            1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
            2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
            2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022],
           dtype='int64', name='YEAR')

In [24]:
#Extract values to a timeseries
timeseries = pd.Series()

for year, year_data in data.iterrows():
    dates = pd.date_range(str(year),str(year+1),freq='MS',inclusive='left')
    year_data.index = dates 
    timeseries = pd.concat([timeseries,year_data])
    
timeseries

C:\Users\clmbn\AppData\Local\Temp\ipykernel_8776\2034092040.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  timeseries = pd.Series()

1979-01-01      0.47
1979-02-01      0.26
1979-03-01     -0.08
1979-04-01      0.20
1979-05-01      0.27
               ...
2022-08-01     -1.79
2022-09-01     -1.78
2022-10-01     -1.75
2022-11-01   -999.00
2022-12-01   -999.00
Freq: MS, Length: 528, dtype: float64

In [26]:
#Pickle the result
timeseries.to_pickle('../data/enso_mei_timeseries.pkl')